body 
{
	font-family:Calibri;
	background-color:alice-blue !important;
	
}

myStyle
{
	font-family:Arial Black;
	font-size:9;	
}

.form-group.required .control-label:after {
	content:"*";
	color:red;
	}
	
.divhide
{
	display: none;
}