<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Concentrix</title>
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body>
             
 <section class="promo-section">
        <div class="promo-table">
            <div class="promo-cell">
            
     <div class="land-item-section defult-section">  
            
<div class="land-item">      
  <h3>PMO</h3>
  <i class=""  style="color:blue"></i>
<div class="over-item">

</div>
</div> 

<div class="land-item" (click)="qualityrd()">      
  <h3>QAULITY</h3>
  <i class=""  style="color:blue"></i>
<div class="over-item">

</div>
</div> 

<div class="land-item" (click)="sepg()">      
  <h3>SEPG</h3>
  <i class="" style="color:blue"></i>
<div class="over-item">

</div>
</div> 

<!-- <div class="land-item">      
  <h3>Health Care</h3>
  <i class="fa fa-heartbeat"></i>
<div class="over-item">
  <ul>
  <li> <a href="#">Apollo </a> </li>
  <li> <a href="#">Medplus </a> </li>
  <li> <a href="#">Hetero  </a> </li>
  <li> <a href="#">United Health Group  </a> </li>
  </ul>
</div>
</div>  -->
         
            
       </div>          
  
 </div></div></section>


</body>
</html>